:host {
    display: block;
    padding: 1.5rem;
    width: 500px;
    border-radius: 1rem;
    margin: 3rem auto 0;
    background-color: rgba(255,255,255,0.2);
}

h1{
    text-align: center;
    font-size: 1.5rem;
    color: lightseagreen;
    font-weight: bold;
}

mat-grid-list{
    width: 80%;
    height: 50%;
    margin: 0 auto;
}

.login-btn{
    width: 45%;
    height: 40%;
    font-size: 1.2rem;
}

mat-form-field {
    width: 60.67%;
    transform: scale(1.5);
}

/* mat-form-field.login-link {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  } */