:host {
    display: block;
    padding: 2rem 3rem;
}

mat-form-field{
    width: 500px;
    margin: 0 auto;
    display: block;
    transform: scale(0.8);
}

/* mat-form-field input{
    height: 5px;
}

mat-form-field mat-icon{
    font-size: 10px;
}
mat-form-field mat-label{
    font-size: 10px;
} */

mat-card{
    width: max-content;
    margin-bottom: 1rem;
}

mat-card mat-card-content{
    font-size: 0.8rem;
}

mat-panel-description{
    font-style: italic;
    letter-spacing: 1px;
    color: lightseagreen;
    font-size: 1.5rem;
}

table {
    width: 100%;
    border: 1px solid rgba(255,255,255,0.1);
}

table.mat-cell , table.mat-header-cell{
    font-size: 1.2rem;
}